
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{ 
    background-color: darkred;
    position: fixed;
    width: 100%;
    font-family: fantasy;
    padding: 15px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .name a{
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;

}

.navbar .directory li{
    list-style: none;
    display: inline-block;
}

.navbar .directory li a{
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.home{
    display: flex;
    background: url("oldie.jpg") no-repeat center;
    height: 100vh;
    color: black;
    min-height: 500px;
    font-family: fantasy;
}

